@CHARSET "UTF-8";
p {
color: pink;
background-color: black;
}

body {
font-family: "Arial", "Helvetica", sans-serif;
font-style: normal;
background-color: RosyBrown;
color: MistyRose;
text-align: center;
/*background-image: url(sobre-background.jpg);*/
}

canvas {
border-color: gray;
border-style: groove;
border-width: 3px;
/*dashed, dotted, double, groove*/
}

button {
font-family: "Arial", "Helvetica", sans-serif;
font-style: italic;
background-color: MistyRose;
color: RosyBrown;
	
}

/*div {
text-align: left;	
}*/

